.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 216, 216);
  gap: 10px;
  height: 100px;
  font-size: 18px;
}
.li {
  background-color: azure;
  list-style: none;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  width: 400px;
  height: 25px;
  text-align: center;
  margin-left: 550px;
  margin-bottom: 20px;
}
.h1 {
  margin-left: 640px;
}
.container {
  margin-left: 600px;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-top: 40px;
  background-color: azure;
}
